.container{
    background-color: rgb(215, 243, 226);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around; 
}





.item-1{
    min-height: 100px auto;
    background-color: rgb(155, 143, 233);
    flex-shrink: 1;
    
}
.item-2{
    min-height: 200px auto;
    flex-shrink: 1;
    flex-grow: initial;
    background-color:  #f5ccff;
}
.item-3{
    min-height: 300px auto;
    background-color: rgb(142, 213, 236);
    flex-shrink: 1;
}
.item-4
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-style: initial;
    text-align: center;
}
.list{
    text-align: start;
    
}

.row {  
    display: flex;
    justify-content: stretch;
    flex-grow: initial;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f1f1f1;
  
  }
  

  .side {
    flex: 2%;
    background-color: #f1f1f1;
    padding: 10px;
    flex-direction: column;
    max-width: 200px;

  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  * {
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  body {
    margin: 0;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;  
  }
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

